<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PasteBox</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<center>
    <div class="well">
        <a href="{% url 'pastebox:login' %}" style="text-decoration:none">
    <h1 style="font-size:50px;color:cyan">PasteBox <sub style="font-size:25px;color:blue">by MSVSR</sub></h1>
            </a>
    </div>

</center>
<center>
    <div class="well">
    <p style="font-size:20px;color:green">
        Hi, I designed this app as basic app to learn Django.<br>
        I tried to make this app similar to <a href="http://dpaste.com/">dpaste</a> and <a href="https://pastebin.com/">pastebin</a>.
    </p>
    </div>
        <div class="well">
    <h2 style="font-size:30px;color:red">Further Improvements</h2>
            <p style="font-size:18px;color:blue">Planning to implement REST API</p>
    </div>
    <div>
        <div class="well">
    <h2 style="font-size:30px;color:blue">Contact</h2>
            <table>
                <tr>
                    <td><span class="glyphicon glyphicon-envelope"></span></td>
                    <td>msvsrmedapati@gmail.com</td>
                </tr>
                <tr>
                    <td><i class="fa fa-facebook-square"></i></td>
                    <td>Msvs Reddy</td>
                </tr>
            </table>
    </div>
</center>

</body>
</html>